.floatingButton{
    /* position: fixed; */
    
    right: 0; 
    width: 3.2rem;
    height: 3.2rem;
    
    background: black;
    color: white;
    content: "+";
    bottom: 0;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

